<head>
    <link href="/stylesheets/index.css" rel="stylesheet">
    <script src="/javascripts/view/index.js" ></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-6" align="center">
            <a id="history-button" class="button button-glow button-border button-rounded button-primary">历史记录</a>
        </div>
        <div class="col-md-3" align="center">
            <a id="cart-button" class="button button-glow button-border button-rounded button-primary">购物车 <i id="cart-sum">0</i> 件</a>
        </div>
    </div>
    <table id="items" class="table table-hover text-center"></table>
</div>
</body>