<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css" />
      <link rel="stylesheet" href="/stylesheets/lib/bootstrap-theme.min.css" />
      <link rel="stylesheet" href="/stylesheets/lib/buttons.css" />
      <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css" />

      <script src="/javascripts/lib/jquery-2.2.1.min.js" ></script>
      <script src="/javascripts/service.js" ></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
